.vscode/extensions.json
config.ps1
dfirws.zip
downloads/*
enrichment/*
local/*
!local/.bashrc.default
!local/.zcompdump.default
!local/.zshrc.default
!local/example-customize.ps1
!local/default-Microsoft.PowerShell_profile.ps1
log/*
mount/*
readonly/*
readwrite/*
setup/config.txt
tmp/*
tools_downloaded.csv
*.wsb
packer_cache
iso/*
!iso/.keepme
Windows_11_dfirws_64-bit.vmwarevm
windows_11.pkr.hcl
