.vscode/extensions.json
config.ps1
downloads/*
enrichment/*
local/*
!local/defaults
!local/defaults/.bashrc
!local/defaults/.zcompdump
!local/defaults/.zshc
!local/defaults/config.txt
!local/defaults/config.yaml
!local/defaults/customize-sandbox.ps1
!local/defaults/customize-vm.ps1
!local/defaults/Microsoft.PowerShell_profile.ps1
!local/defaults/variables.pkr.hcl
log/*
mount/*
readonly/*
readwrite/*
tmp/*
*.wsb
packer_cache
iso/*
!iso/.keepme
Windows_11_dfirws_64-bit.vmwarevm
